/* General Styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Table Enhancements */
.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table th {
    padding: 1rem;
    text-align: left;
    background-color: #007bff;
    color: #000000;
    font-size: 22px; /* Larger font size for headers */
}

.table td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-size: 16px; /* Adjust this value as needed */
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, .05);
}

/* Button Styling */
.btn-primary, .btn-danger {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    border-color: #285e8e;
}


.btn-primary:hover, .btn-danger:hover {
    color: #fff;
    background-color: #285e8e;
    border-color: #193c5a;
}

.close {
    float: right;
    font-size: 1.5rem;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

/* Modal Enhancements */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
}

.modal-header {
    background: #007bff;
    color: #fff;
    border-bottom: 2px solid #dee2e6;
}

.modal-title {
    color: #fff;
}
