:host {
  display: block;
  height: 100%;
}

.homepage-background {
  background: url('/assets/travel.jpg') no-repeat center center fixed;
  background-size: cover;
  height: calc(108vh - 60px); /* Adjust based on your navbar height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-family: 'Pacifico', cursive;
  font-size: 2rem;
  margin: 10px;
  color: indigo;
}


.overlay {
  background-color: rgba(0, 0, 0, 0); /* Dark overlay for readability */
  color: white;
  text-align: center;
  width: 100%;
  padding: 20px;
}

.slogan {
  font-family: 'Lucida Handwriting', cursive;
  font-size: 4rem;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.75);
  color: white
}
