 <nav class="navbar">
       <a href="/home" class="navbar-item">
      <i class="fas fa-home"></i> FIND MY TRIP
    </a>
  <div class="navbar-menu">
    <a href="/bookings" class="navbar-item">
      <i class="fas fa-calendar-check"></i> Bookings
    </a>
    <a href="/packages" class="navbar-item">
      <i class="fas fa-suitcase-rolling"></i> Packages
    </a>
    <a href="/hotels" class="navbar-item">
      <i class="fas fa-hotel"></i> Hotels
    </a>
     <a href="/flights" class="navbar-item">
      <i class="fas fa-plane"></i> Flights
    </a>
  </div>
</nav>

<div>
  <router-outlet></router-outlet>
</div>
