.nav-link {
  margin-right: 15px; /* Increased spacing between items */
  font-size: 14px; /* Larger font size for better readability */
  font-weight: bold;
}

.navbar-brand {
  font-weight: bold; /* Keep the brand name bold */
  font-size: 24px; /* Larger font size for the brand */
  color: #333; /* Dark color for better visibility */
}

.nav-link i {
  margin-right: 5px; /* Adjusted spacing between icon and text */
  font-size: 18px; /* Larger font size for icons */
  vertical-align: middle; /* Aligns icon with text vertically */
}

.dropdown-menu {
  left: -30px; /* Adjust this value as needed */
}

