 <nav class="navbar">
   <a>
      <i class="fas fa-home"></i> FIND MY TRIP
   </a>
  <div class="navbar-menu">
    <a href="/bookings" class="navbar-item">
      <i class="fas fa-calendar-check"></i> Bookings
    </a>
    <a href="/packages" class="navbar-item">
      <i class="fas fa-suitcase-rolling"></i> Packages
    </a>
    <a href="/hotels" class="navbar-item">
      <i class="fas fa-hotel"></i> Hotels
    </a>
     <a href="/flights" class="navbar-item">
      <i class="fas fa-plane"></i> Flights
    </a>
    <a href="/activities" class="navbar-item">
      <i class="fas fa-coffee"></i> Activity
    </a>
    <a href="/account" class="navbar-item" (click)="togglePopup()">
      <i class="fas fa-user"></i> Account
    </a>
    <app-account *ngIf="showPopup" (closePopup)="togglePopup()"></app-account>
  </div>
</nav>
<div>
  <router-outlet></router-outlet>
</div>
