<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true"
     [class.show]="showErrorModal" [ngStyle]="{'display': showErrorModal ? 'block' : 'none'}" (click)="closeModal()">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        {{ message }}
      </div>
    </div>
  </div>
</div>
<div class = "form-group row">
  <label class = "col-sm-2 col-form-label"> Hotel Name</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="name" placeholder="Enter Hotel Name">
  </div>
  <label class = "col-sm-2 col-form-label"> Hotel Address</label>
   <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="address" placeholder="Enter Hotel address">
  </div>
  <label class = "col-sm-2 col-form-label"> Hotel Price</label>
  <div class="col-sm-10">
    <input type="text" class="form-control" [(ngModel)]="hotel_price" placeholder="Enter Hotel price per head">
  </div>
</div>
<button (click) ="addHotel()" *ngIf="hotel.id==0" class="btn btn-primary">
  Add
</button>
<button (click) ="updateHotel()" *ngIf="hotel.id!=0" class="btn btn-primary">
  Update
</button>


