<!-- booking-form.component.html -->

<div class="container ng-untouched ng-pristine ng-invalid">
  <h2>Booking History</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Booked On</th>
        <th>Payment Amount</th>
        <th>Package</th>
        <th>User</th>
        <th>Guest Info</th>
        <th>Cancelled</th>
        <th>Operations</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let dataItem of BookingList">
      <td>{{ dataItem.booked_on | date: 'shortDate' }}</td>
      <td>{{ dataItem.paymentamount}}</td>
      <td>{{dataItem.package_name}}</td>
      <td>{{dataItem.user_name}}</td>
      <td>
        <div *ngFor="let guest of dataItem.guest_info">
          <div class="guest-info">
            <div>{{ guest.firstName }}</div>
            <div>{{ guest.lastName }}</div>
            <div>{{ guest.dob }}</div>
          </div>
      </div>
    </td>
    <td>{{dataItem.isCancelled}}</td>
    <td>
      <button *ngIf="dataItem.isCancelled!==true" type="button" class="btn btn-danger"
      (click) = "deleteClick(dataItem)">
        Cancel
      </button>
    </tbody>
  </table>
</div>